 <form>
      <label for='genericName'>Generic Name:</label> <input type="text" id="genericName"><br>
      <label for='brandName'>Brand Name:</label> <input type="text" id="brandName"><br>
      <label for='accountingUnit'>Accounting Unit:</label> <input type="text" id="accountingUnit"><br>
      <label for='inventoryType'>Expendable Inventory Type:</label>
            <div class="dropdown">
		  <a class="dropdown-toggle expendableInventoryType" data-toggle="dropdown" href="#"></a>
		  <ul class="dropdown-menu expendableInventoryTypesList" role="menu" aria-labelledby="dLabel">
		    ...
		  </ul>
	  </div>
      <button id="add-inventory-item-button">Add Item</button>
 </form>
