<div class="navbar">
  <div class="navbar-inner">     
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id= <%= clinic %> data-toggle="dropdown"><i class="icon-home"></i><span class='selectedClinic'> <%= clinicName %> </span> <b class="caret"></b></a>
        <ul class="dropdown-menu clinicsList">
          <!-- List of clinics -->
        </ul>
      </li>
        <li><a href="#">From Date</a></li>
          <li id="fromDatetimepicker" class="input-append">
            <input data-format="dd-MM-yyyy" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </li>
       <!--  <label>To Date:</label> -->
        <li><a href="#">To Date</a></li>
          <li id="toDatetimepicker" class="input-append">
            <input data-format="dd-MM-yyyy" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </li>
    </ul>
    <ul class="nav pull-right">
      <li id="refresh"><a href="#"><i class='icon-refresh'></i>Refresh</a></li>  
    </ul>
 </div>
</div>

<div class="container-fluid graphs-container">
	
</div><!--/.fluid-container-->