 <div class="alert alert-error" style="display:none">
Please correct the invalid entries!
</div>
<div class="alert alert-success" style="display:none">
<strong>Success!</strong> You passed the validation.
</div>	

      <h2>Bank Deposits</h2>  
      <label class="tableHeaderColumn">Person</label> 
      <label class="tableHeaderColumn">Amount</label>

      <div id="rows-container"></div>
      <button class="btn btn-small new-row" type="button"><i class="icon-plus"></i>Add Row</button>      
      <hr />
      <label  class="total tableHeaderColumn"></label>
      <hr/>
      
