<input type="text" class="item column" autocomplete="off" value= <%= "'"+item+"'" %>  /> 
      
<input type="text" class="sanctionedByName sanctionedBy column" id= <%= "'sanctionedBy"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off" value= <%= "'"+sanctionedByName+"'" %>  valueId= <%= "'"+sanctionedBy+"'" %> /> 

<input type="text" class="receivedByName receivedBy column" id= <%= "'receivedBy"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+receivedByName+"'" %>  valueId= <%= "'"+receivedBy+"'" %> />

<input type="text" class="qty column" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+qty+"'" %> />

<span>Rs</span>
<input type="text" class="amount column" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+amount+"'" %> />

<a href="#" class="delete"><i class="icon-remove delete-row-icon"></i></a>
