<div class='span2'>
	<input type="text" class="treatment column" id= <%= "'treatment"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+treatmentName+"'" %>  valueId= <%= "'"+treatment+"'" %> />
</div>

<div class='span2'>
	<input type="text" class="expendableInventoryItem column" id= <%= "'expendableInventoryItem"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+genericName+"'" %>  valueId= <%= "'"+expendableInventoryItem+"'" %> />
</div>

<div class='span1'>
	<input type="text" class="tooth column input-small" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+tooth+"'" %> />
</div>

<div class='span1'>
	<input type="text" class="numFillings column input-small" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+numFillings+"'" %> />
</div>

<div class='span2'>
      <input type="text" class="patient column" id= <%= "'patient"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+patientName+"'" %>  valueId= <%= "'"+patient+"'" %> />
</div>

<div class='span2'>
	<input type="text" class="doctor column" id= <%= "'doctor"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+doctorName+"'" %>  valueId= <%= "'"+doctor+"'" %> />
</div>

<div class='span1'>
	<button class='btn delete'>X</button>	
</div>




