<div class='span6'>
	<div class='row-fluid'>
		<div class='span3'>
			<input type="text" class="treatment column input-medium" id= <%= "'treatment"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+treatmentName+"'" %>  valueId= <%= "'"+treatment+"'" %> />
		</div>

		<div class='span2'>
			<input type="text" class="tooth column input-mini" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+tooth+"'" %> />
		</div>

		<div class='span2'>
			<input type="text" class="tooth column input-mini" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+tooth+"'" %> />
		</div>

		<div class='span2'>
			<input type="text" class="tooth column input-mini" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+tooth+"'" %> />
		</div>

		<div class='span1'>
			<input type="text" class="tooth column input-mini" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+tooth+"'" %> />
		</div>

		<div class='span1'>
			<input type="text" class="tooth column input-mini" data-toggle="tooltip"  autocomplete="off" value= <%= "'"+tooth+"'" %> />
		</div>

	</div>
</div>
<div class='span6'>
	<div class='row-fluid'>

		<div class='span3'>
		      <input type="text" class="patient column input-medium" id= <%= "'patient"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+patientName+"'" %>  valueId= <%= "'"+patient+"'" %> />
		</div>

		<div class='span3'>
			<input type="text" class="implantologist column input-medium" id= <%= "'implantologist"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+implantologistName+"'" %>  valueId= <%= "'"+implantologist+"'" %> />
		</div>

		<div class='span3'>
			<input type="text" class="prosthodontist column input-medium" id= <%= "'prosthodontist"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off"  value= <%= "'"+prosthodontistName+"'" %>  valueId= <%= "'"+prosthodontist+"'" %> />
		</div>

		<div class='span1'>
			<button class='btn delete'>X</button>	
		</div>
	</div>
</div>



