<input type="text" class="genericName expendableInventoryItem column" id= <%= "'expendableInventoryItem"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off" value= <%= "'"+genericName+"'" %>  valueId= <%= "'"+expendableInventoryItem+"'" %> /> 

<span class="brandName column uneditable-input" id= <%= "'brandName"+rowId+"'" %> > <%= brandName %></span>

<span  class="accountingUnit column uneditable-input" id= <%= "'accountingUnit"+rowId+"'" %> > <%= accountingUnit %> </span>

<span class="expendableInventoryType column uneditable-input" id= <%= "'expendableInventoryType"+rowId+"'" %> ><%=  expendableInventoryType %> </span>

<input type="text" class="qty column" data-toggle="tooltip"  autocomplete="off" value= <%= qty %>  >

<a href="#" class="delete"><i class="icon-remove delete-row-icon"></i></a>
  	