<tr>
	<td class="center"> <% = issue %> </td>
	<td class="center"> <% = date %> </td>
	<td class="center"> <% = priority %> </td>
	<td class="center">
		<span class="label"> <% = status %>  </span>
	</td>
	<td class="center">
		<a class="btn btn-success" href="#">
			<i class="halflings-icon zoom-in halflings-icon"></i>
			Mark as Complete                                            
		</a>
		<a class="btn btn-success" href="#">
			<i class="halflings-icon zoom-in halflings-icon"></i>
			Mark as Pending                                            
		</a>
		<a class="btn btn-info" href="#">
			<i class="halflings-icon edit halflings-icon"></i> 
			Reduce Priority                                           
		</a>
		<a class="btn btn-danger" href="#">
			<i class="halflings-icon trash halflings-icon"></i> 
			Increase Priority
		</a>
	</td>
</tr>