<div id='login-page-header' class="page-header">
  <h2>Clinic Feedback System <small><i>beta</i></small></h2>
</div>

<form  id="login-form" class="form-signin">
<h2 class="form-signin-heading">Please sign in</h2>
<input type="text" id='username' class="input-block-level" placeholder="Username" value='divyaGaur' >
<input type="password" id='password' class="input-block-level" placeholder="Password" value='icelemontea'>
<label class="checkbox">
  <input type="checkbox" value="remember-me"> Remember me
</label>
<button id="login" class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>

