
<div class="span12 well well-small">
 <div class=" row-fluid">
    <div class="span2 btn-group" data-toggle="buttons-checkbox">
      <button type="button" class="btn button-revenue-graph active">All Patients</button>
      <button type="button" class="btn button-expenditure-graph active">New Patients</button>
    </div>
    <div class="span1">
     
        <div id="fromDatetimepicker" class="input-append">
           <label>from:</label>
          <input data-format="dd-MM-yyyy" type="text"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
    </div>
    <div class="span1">
      
       <div id="toDatetimepicker" class="input-append">
        <label>to:</label>
          <input data-format="dd-MM-yyyy" type="text"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 graph-container">
    </div>
  </div>
</div>


