<h2><i class="icon-inr"></i> Revenue</h2> 
<hr />

<div class='row-fluid error-message' style="display:none">
	<div class='span3 alert alert-error'>
		<div >Please correct the invalid entries!</div>
	</div>
</div>

<div class='row-fluid'>
	<div class='span2'><label class="tableHeaderColumn">Patient</label> </div>
	<div class='span2'><label class="tableHeaderColumn">Doctor</label> </div>
	<div class='span4'><label class="tableHeaderColumn">Amount</label> </div>
</div>

<div class='row-fluid' id="rows-container">
</div>

<button class="btn btn-small new-row" type="button"><i class="icon-plus"></i>Add Row</button>      
<hr />
<label  class="total tableHeaderColumn"></label>
<hr/>
      
