      <input type="text" class="patientName  column" id= <%= "'patientId"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off" value= <%= "'"+patientName+"'" %>  valueId= <%= "'"+patientId+"'" %> /> 
 
      <input type="text" class="doctorName column" id= <%= "'doctorId"+rowId+"'" %> data-provide="typeahead" autocomplete="off"  value= <%= "'"+doctorName+"'" %>  valueId= <%= "'"+doctorId+"'" %> />

      <span class="column_prefix">Rs</span>
      <input type="text" class="amount column" autocomplete="off" value= <%= "'"+amount+"'" %> />

      <div class="btn-group">
        <button class="btn btn-small dropdown-toggle paymentTypeName" data-toggle="dropdown" valueId=  <%= "'"+paymentTypeId+"'" %> > <%= paymentTypeName %> <span class="caret"></span></button>
        <ul class="dropdown-menu">
        </ul>
      </div>

      <a href="#" class="delete"><i class="icon-remove delete-row-icon"></i></a>
