<div class='row-fluid error-message' style="display:none">
	<div class='span3 alert alert-error'>
		<div >Please correct the invalid entries!</div>
	</div>
</div>
 
<div class='row-fluid'>
	<div class='span2'><label class="treatmentTableHeaderColumn">Treatment</label> </div>
	<div class='span2'><label class="treatmentTableHeaderColumn">Stage</label> </div>
	<div class='span1'><label class="treatmentTableHeaderColumn">Tooth</label> </div>
	<div class='span2'><label class="treatmentTableHeaderColumn">Patient</label> </div>
	<div class='span2'><label class="treatmentTableHeaderColumn">Doctor</label> </div>
	<div class='span2'><label class="treatmentTableHeaderColumn">Remarks</label> </div>
</div>

<div class='row-fluid' id="rows-container">
</div>

<button class="btn btn-small new-row" type="button"><i class="icon-plus"></i>Add Row</button>      
      
