
<ul class="nav nav-pills">
  <li class='lead'><i class="icon-medkit"></i></li>
  <li id="consultation"><a href="#">Consultation</a></li>
  <li id="extractions"><a href="#">Extractions</a></li>
  <li id='fillings' ><a href="#">Fillings</a></li>
  <li id='rootCanal' ><a href="#">Root Canal</a></li>
  <li id='crownNBridge' ><a href="#">Crown & Bridge</a></li>
  <li id='dentures' ><a href="#">Dentures</a></li>
  <li id='perio' ><a href="#">Perio</a></li>
<!--   <li id='implants' ><a href="#">Implants</a></li> -->
</ul>
<hr />

<div class='row-fluid' id="tables-container"></div>

